{{#if posts.length}}
  <div>
    {{#each posts as |post|}}
    <div>
      <div>
        <h4><a href="/dashboard/userpost/{{post.id}}">{{post.title}}</a></h4>
        <p>{{format_date post.date_created}}</p>
      </div>
    </div>
    {{/each}}
  </div>
{{/if}}

<a href="/dashboard/newpost">+ New Post</a>

