<div class="text-center">
  <form class="edit-post-form">
    <div>
      <input name="post-title" id="post-title" type="text" value="{{title}}"/>
    </div>
    <div>
      <textarea name="post-content" id="post-content">{{content}}</textarea>
    </div>

    <button type="submit">Update Post</button>
    <button type="button" class="delete-post-btn">Delete</button>    
  </form>

</div>

<script src="/js/userpost.js"></script>